<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <header>
        <div class="header-content">
            <h1>Gestión de Usuarios</h1>
            <nav class="nav-buttons">
                <a href="/" class="nav-btn">Inicio</a>
                <a href="/login" class="nav-btn">Iniciar Sesión</a>
                <a href="/registro" class="nav-btn">Registrase</a>
            </nav>
        </div>
    </header>
    
    <main>
        <section id="inicio" class="hero">
            <h2>Bienvenido a la Plataforma de Gestión de Usuarios y Empresas</h2>
            <p>Optimiza la administración de usuarios y empresas con nuestras soluciones integradas. Explora nuestras herramientas para gestionar perfiles de usuarios, empresas y gestiones empresariales de manera eficiente.</p>
        </section>
        
        <section id="quienes-somos">
            <h2>Quién Soy</h2>
            <p>Esta web ha sido creada como parte de un proyecto personal para practicar y mejorar mis habilidades en desarrollo web y gestión de sistemas. A través de este sitio, exploro diferentes tecnologías y soluciones para la administración de usuarios y empresas.</p>
            <p>Mi objetivo con este proyecto es aprender y perfeccionar la implementación de funcionalidades avanzadas, como la gestión de bases de datos, seguridad de la información y la integración de sistemas. Es un espacio de experimentación y aprendizaje continuo.</p>
        </section>
        
        <section id="servicios">
            <h2>Servicios</h2>
            <ul>
                <li><strong>Práctica de Gestión de Usuarios:</strong> Este proyecto incluye funcionalidades para la creación, edición y eliminación de perfiles de usuario, permitiéndome experimentar con diferentes aspectos de la administración de datos.</li>
                <li><strong>Seguridad de Datos:</strong> He implementado medidas básicas de seguridad para proteger la información, con el objetivo de aprender más sobre la privacidad de los datos y cómo mejorar la protección de información sensible.</li>
                <li><strong>Desarrollo y Soporte:</strong> A través de este proyecto, investigo y soluciono problemas técnicos relacionados con la gestión de usuarios y la integración de nuevas funcionalidades.</li>
                <li><strong>Integración de Tecnologías:</strong> La web está diseñada para practicar la integración de sistemas, como bases de datos, servidores y otros servicios web, con el objetivo de aprender a hacer conexiones eficientes entre diferentes plataformas.</li>
            </ul>
        </section>
        
    </main>
</body>
</html>
