<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <div class="header-content">
            <h1>Gestión de Usuarios</h1>
            <nav class="nav-buttons">
                <a href="/" class="nav-btn">Inicio</a>
                <a href="/login" class="nav-btn">Iniciar Sesión</a>
                <a href="/registro" class="nav-btn">Registrarse</a>
            </nav>
        </div>
    </header>
    <div class="main-content2">
        <div class="contenedor">
            <h1>Registro</h1>
            <form id="formularioRegistro" name="formularioRegistro">
                <div class="campo">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" required>
                </div>
                <div class="campo">
                    <label for="apellidos">Apellidos:</label>
                    <input type="text" id="apellidos" name="apellidos" required>
                </div>
                <div class="campo">
                    <label for="dni">DNI:</label>
                    <input type="text" id="dni" name="dni" required>
                </div>
                <div class="campo">
                    <label for="email">Correo Electrónico:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="campo">
                    <label for="contraseña">Contraseña:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="campo">
                    <label for="confirmar-contraseña">Confirmar Contraseña:</label>
                    <input type="password" id="confirmar-contraseña" name="confirmar-contraseña" required>
                </div>
                <button type="submit">Registrar</button>
            </form>
        </div>
    </div>
    <script src="/static/js/scripts.js"></script>
</body>
</html>